@model IEnumerable<crud.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Product Manager</h1>
</div>
<div class="Parts">
    <a href="/Product/Index"><h1>Product Table</h1></a>
    <a href="/Category/Index"><h1>Category table</h1></a>
</div>